@font-face {
    font-family: "robotomedium";
    src: url('../fonts/roboto-medium-webfont.eot') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.eot?&1415696608#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg')
}
@font-face {
    font-family: "robotobold";
    src: url('../fonts/roboto-bold-webfont.eot') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.eot?&1415739198#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg')
}
@font-face {
    font-family: "robotomediummedium_italic";
    src: url('../fonts/roboto-mediumitalic-webfont.eot') format('embedded-opentype'), url('../fonts/roboto-mediumitalic-webfont.eot?&1415696608#iefix') format('embedded-opentype'), url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'), url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'), url('../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg')
}
@font-face {
    font-family: 'sf_alien_encountersregular';
    src: url('../fonts/sfalienencounters-webfont.woff2') format('woff2'),
         url('../fonts/sfalienencounters-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
	font-size: 0.75em !important;
}
body {
	background: #000 !important;
}
/*body:before {
	background: #fff url("../images/ski-goggles.jpg") !important;
	background-position: left bottom !important;
	background-repeat: no-repeat !important;
	background-size: 10% auto !important;
	content: '';
	display: block;
	transform: rotate(-45deg);
	height: 100%;
	width: 100%;
}*/
.offscreen {
	display: block;
	position: absolute;
	left: -500000px;
}
a:hover, a:focus {
	/*color: black;*/
	text-decoration: underline;
}
ul[class^='css'] {
	list-style-position: outside;
	margin: 1em auto;
}
ul[class^='css'] li {
	margin-bottom: 1em;
}